
.text {
    width: 100%;
    flex: 1;
    padding: 16px;
}

.divider {
    margin: 8px 0!important;
    background: #1890ff;
}

.textarea {
    padding: 0!important;
}
.title {
    display: flex;
    justify-content: space-between;
    color: #1890ff;
}